Java Programming 2/Module 09 - XML & JSON/demo/Voorbeelden_09_XML_JSON/customer.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name">
							<xs:simpleType >
								<xs:restriction base="xs:string">
									<xs:maxLength value="5"/>
								</xs:restriction>
							</xs:simpleType>
								</xs:element>
                <xs:element name="phone-number" maxOccurs="2"/>
             </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
